<div class="container">
<!-- <form #userform="ngForm" (ngsubmit)="onFormSubmit(userForm)">
        <div class="form-group">
            <label for="usr">Nom d'utilisateur

            </label>
            <input type="text" ngModel name="Usename" class="form-control" id="usr">
        </div>

        <div class="form-group">
            <label for="nbre">Numéro:</label>
            <input type="numero" ngModel class="form-control" id="nbre">
        </div>

        <div class="form-group">
            <label for="email">Email </label>
            <input type="email" ngModel name="useremail" class="form-control" id="email">
        </div>

        <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" ngModel class="form-control" id="pwd">
        </div>


        <button type="button" class="btn btn-danger">Submit</button>
    </form> -->

 <input [(ngModel)]="name" required  type="text" placeholder="name"><br> -->
<input [(ngModel)]="numero" required type="number" placeholder="phone "><br> -->
    <input [(ngModel)]="email" required type="email" placeholder="email"  ><br>
    <input [(ngModel)]="password" required type="password" placeholder= "password"  ><br>
    <button  type="button" (click)="Submit() ">Submit</button>
    <button  type="button" (click)="test()">test</button>  --> --> -->


</div>









